In [1]:
import pandas as pd

In [3]:
df_malware = pd.read_csv('results_malware.csv')
df_benign = pd.read_csv('results_benign.csv')

In [4]:
df_malware = df_malware.drop(['name'], axis=1)

In [5]:
df_benign = df_benign.drop(['name'], axis=1)

In [11]:
df_malware['labels'] = 0

In [12]:
df_malware.head()

,mov,push,call,pop,cmp,jz,lea,test,jmp,add,...,nop,pushf,rdtsc,sbb,setb,setle,shld,std,(bad),labels
0,3405,380,769,357,353,0,871,398,616,1591,...,166,3,0,22,0,0,0,1,96,0
1,74106,7032,7535,4916,7837,0,7940,8716,6575,26868,...,5855,48,0,483,59,1,39,143,580,0
2,4781,5201,1873,3015,762,0,749,296,436,2094,...,412,1,0,1122,8,0,0,2,12,0
3,224036,48051,27512,39152,27344,0,24093,20559,20471,125839,...,24677,182,0,2640,86,27,8,153,1969,0
4,79341,34710,15887,7920,9909,0,16728,7790,8693,49181,...,3530,63,0,763,139,11,3,49,955,0

In [13]:
df_malware.shape

(2000, 30)

In [14]:
df_temp = df_malware[(df_malware.T != 0).any()]

In [15]:
df_temp.shape

(1738, 30)

In [16]:
df_temp['labels'] = 'm'

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
df_temp.shape

(1738, 30)

In [18]:
df_temp.head()

,mov,push,call,pop,cmp,jz,lea,test,jmp,add,...,nop,pushf,rdtsc,sbb,setb,setle,shld,std,(bad),labels
0,3405,380,769,357,353,0,871,398,616,1591,...,166,3,0,22,0,0,0,1,96,m
1,74106,7032,7535,4916,7837,0,7940,8716,6575,26868,...,5855,48,0,483,59,1,39,143,580,m
2,4781,5201,1873,3015,762,0,749,296,436,2094,...,412,1,0,1122,8,0,0,2,12,m
3,224036,48051,27512,39152,27344,0,24093,20559,20471,125839,...,24677,182,0,2640,86,27,8,153,1969,m
4,79341,34710,15887,7920,9909,0,16728,7790,8693,49181,...,3530,63,0,763,139,11,3,49,955,m

In [19]:
df_temp.to_csv('malware.csv', index=False)

In [20]:
df_benign.shape

(1000, 30)

In [21]:
df_benign['labels'] = 0

In [22]:
df_benign.head()

,mov,push,call,pop,cmp,jz,lea,test,jmp,add,...,nop,pushf,rdtsc,sbb,setb,setle,shld,std,(bad),labels
0,40,20,10,21,9,0,4,6,15,262,...,13,0,0,6,0,0,0,2,34,0
1,299,127,106,76,67,0,18,59,143,1207,...,53,1,0,24,1,0,0,35,200,0
2,91666,18314,33370,19475,6851,0,8279,10215,11056,64920,...,9574,207,0,4159,14,15,0,121,22428,0
3,7306,1922,2338,1050,1213,0,431,1001,1131,7952,...,560,2,0,201,11,0,0,368,2451,0
4,2057,348,567,269,311,0,159,348,456,2479,...,198,3,0,85,1,0,0,105,489,0

In [23]:
df_temp = df_benign[(df_benign.T != 0).any()]

In [24]:
df_temp.shape

(998, 30)

In [25]:
df_temp['labels'] = 'b'

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
df_temp.to_csv('benign.csv', index=False)

In [27]:
malware = pd.read_csv('malware.csv')
benign = pd.read_csv('benign.csv')

In [28]:
malware.shape

(1738, 30)

In [29]:
benign.shape

(998, 30)

In [30]:
df = malware.append(benign)

In [31]:
df.shape

(2736, 30)

In [32]:
df.head()

,mov,push,call,pop,cmp,jz,lea,test,jmp,add,...,nop,pushf,rdtsc,sbb,setb,setle,shld,std,(bad),labels
0,3405,380,769,357,353,0,871,398,616,1591,...,166,3,0,22,0,0,0,1,96,m
1,74106,7032,7535,4916,7837,0,7940,8716,6575,26868,...,5855,48,0,483,59,1,39,143,580,m
2,4781,5201,1873,3015,762,0,749,296,436,2094,...,412,1,0,1122,8,0,0,2,12,m
3,224036,48051,27512,39152,27344,0,24093,20559,20471,125839,...,24677,182,0,2640,86,27,8,153,1969,m
4,79341,34710,15887,7920,9909,0,16728,7790,8693,49181,...,3530,63,0,763,139,11,3,49,955,m

In [35]:
df = df.sample(frac=1).reset_index(drop=True)

In [36]:
df.head()

,mov,push,call,pop,cmp,jz,lea,test,jmp,add,...,nop,pushf,rdtsc,sbb,setb,setle,shld,std,(bad),labels
0,3362,491,840,495,581,0,317,548,482,3477,...,340,17,0,150,1,0,0,534,938,b
1,74728,31431,14363,7866,9853,0,14338,7709,8331,45814,...,3404,52,0,782,127,11,3,46,909,m
2,9782,12950,3422,6773,5324,0,3121,2125,1163,79531,...,1580,67,0,931,22,1,0,1366,578,m
3,8224,1444,1757,1512,988,0,534,922,1203,8947,...,865,17,0,279,9,0,0,508,2116,b
4,8510,2047,1241,985,1720,0,1727,505,618,2186,...,290,1,0,24,30,1,2,178,57,m

In [37]:
df.to_csv('results.csv', index=False)